/* @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700'; */

@font-face {
  font-family: 'icomoon';
  src: url("./Components/fonts/icomoon/icomoon.eot?srf3rx");
  src: url("./Components/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("./Components/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("./Components/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("./Components/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; 
}
body {
  font-size: 1.2vh;
}
.timebar {
  display: grid;
  flex-direction: row;
  align-items: center;

}
.Player .header .notification-center{

}
.controls-wrap {
  background: black;
}
.artist-album {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}
.Player {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .7fr 1.2fr .8fr 1.2fr .25fr;
  overflow: hidden;
  padding: 1vw;
}
.Player .action {
  letter-spacing: .5vw;
  font-weight: bold;
  width: 50%;
  margin-bottom: 1vh;
  margin-top: .6vh;
}
.Player .Name {
  text-align: center;
  width: 100%;
  font-size: 2.9vh;
  padding: .2vh;
}
.Player .Artist {
  font-size: 1.9vh;
}
.Player .Album {
  font-size: 1.7vh;

}

.Player .Timestamps {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  margin-top: -5vh;
}
.Player .Timestamps .Time {
  font-family: Remaster;
  font-size: 3vh;
}
.Player .Controls {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}
.Player .Controls .Button {
  font-size: 2.5vh;
  height: 4vh;
  width: 4vw;
  border: 2px solid rgb(2, 2, 2);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  /* box-shadow: 1px 3px 2px rgba(18, 18, 18, 0.639); */
  /* pointer-events: all; */
}
.others {
  transform: scale(.85)
}
.Player .Controls .Button:active {
  transform: scale(0.98);
  background: #00000058;
}
.Player .Controls .Button:active {
  color: #ffffff;
  opacity: 1;
}
.Player .Controls .Button {
  opacity: .9;
}
.noti-cent-items{
  border: 1px solid black;
}